<!doctype html>

<html>
    <head>
        <title>Students</title>
    </head>

    <body>          
        <nav>
            <a href="form">form</a>
            <a href="list">list</a>
        </nav>
        {% block content %}{% endblock %}     
    </body>
</html>