{% extends "base.html" %}

{% block content %}
    <form action = "{{ url_for('form') }}" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name }}
            <br>
            {{ form.email.label }}<br>
            {{ form.email }}
            <br>            
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
